{% extends "layout.html" %}
{% block content %}
<h1>About EDU Connect</h1>
    <div class="about-container">
        <div id="about-text">
            <p>EDU-Connect is a web-based platform designed to enhance communication between educators and students.</p>
            <p>The platform provides an easy-to-use interface for lecturers or educators to post course/subject feedback collection posts, which students can then respond to.</p>
            <p>EDU-Connect also features a functionality that automatically classifies the sentiments of the feedbacks, allowing educators to quickly understand the overall sentiment of their students.</p>
            <p>Additionally, the platform provides a platform for students to create discussion posts, where they can discuss anything related to their studies with their peers.</p>
            <p>EDU-Connect is a valuable tool for educators to gain insights into their teaching and for students to have a voice in their education.</p>
        </div>        
        <div class="about-image">
            <img src="static/smuganya.png" alt="EDU Connect">
        </div>
    </div>
{% endblock content %}