{% extends "layout.html" %}
{% block content %}
<h1>About EDU Connect</h1>
    <div class="about-container">
        <div class="about-text">
            <p>EDU Connect is a forum-like platform designed to make feedback collection and discussions more efficient and streamlined. Our built-in text sentiment classification functionality allows lecturers to easily analyze feedback from students, while also providing a space for users to discuss anything related to their studies.</p>
            <p>Our platform is designed with three types of users in mind: admin, lecturer, and normal user. Admins have full control over the platform and can monitor everything that happens within it. Lecturers can create feedback collection posts and access the text sentiment classification functionality to analyze comments. Normal users can make article posts and comment on other posts within the system.</p>
            <p>Our goal is to create a platform that is easy to use, engaging, and useful for all users. We hope EDU Connect becomes a valuable tool for lecturers to gather feedback and for users to engage in discussions about their studies.</p>
        </div>
        <div class="about-image">
            <img src="static/smuganya.png" alt="EDU Connect">
        </div>
    </div>
{% endblock content %}