{% extends "layout.html" %}
{% block content %}
<h1>Announcements Made by {{ current_user.username }}</h1>
<div class="my-3">
    <a href="{{ url_for('users.account') }}" class="btn btn-secondary">Return to Account</a>
</div>
<br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.id }}</td>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.content }}</td>
                <td>
                    <form action="{{ url_for('users.delete_announcement', id=announcement.id) }}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}



